@page "/"

<div class="heading-holder">
    <div class="heading">
        <h1>
        <span>Welcome to the ULU Project</span>
        </h1>
    </div>
</div>

<div class="navigation-message">
    <span>Navigate the application using the menu</span>
</div>

@*Welcome to your new app.*@

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

